<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="buggy_descripation">
  <link name="dummy">
   </link>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.136936792322719 0.584702490472277 0.0119308441150687"
        rpy="0 0 0" />
      <mass
        value="1.21744389438579" />
      <inertia
        ixx="0.0263055228102427"
        ixy="-4.74960988562669E-18"
        ixz="1.78511750667704E-23"
        iyy="0.0103343218353292"
        iyz="1.59730077206781E-18"
        izz="0.0366268585773651" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_mount_1">
    <inertial>
      <origin
        xyz="-0.000311505899562636 0.00907541882425502 0.000108954617667245"
        rpy="0 0 0" />
      <mass
        value="0.116973628059289" />
      <inertia
        ixx="8.00274171721299E-05"
        ixy="2.58509437772729E-20"
        ixz="-2.88996226510714E-20"
        iyy="0.000117236984799871"
        iyz="1.34419452579816E-21"
        izz="7.22553292303753E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_mount_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_mount_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_mount_1_joint"
    type="fixed">
    <origin
      xyz="0.236827837705051 0.584724982332815 0.0199134687138035"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_mount_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shaft_1">
    <inertial>
      <origin
        xyz="-0.000311505899562636 1.73754012652641E-05 0.00823181733965081"
        rpy="0 0 0" />
      <mass
        value="0.0215627079100336" />
      <inertia
        ixx="2.86205172556415E-05"
        ixy="1.08547260558386E-23"
        ixz="4.72874992251217E-21"
        iyy="2.85964483774262E-05"
        iyz="-2.33474197027878E-23"
        izz="7.10078417160629E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/shaft_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/shaft_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shaft_1_joint"
    type="fixed">
    <origin
      xyz="0 0.03 0"
      rpy="0 0 0" />
    <parent
      link="wheel_mount_1" />
    <child
      link="shaft_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_1">
    <inertial>
      <origin
        xyz="-0.000311505899562636 1.73754012652363E-05 0.0151089546176671"
        rpy="0 0 0" />
      <mass
        value="0.230318011416302" />
      <inertia
        ixx="0.000164461455026953"
        ixy="3.41960535803767E-36"
        ixz="-1.17172453763679E-20"
        iyy="0.000164461455026953"
        iyz="-8.75391666279245E-37"
        izz="0.00029437520834146" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_1_joint"
    type="continuous">
    <origin
      xyz="0 0 0.045"
      rpy="0 0 0" />
    <parent
      link="shaft_1" />
    <child
      link="wheel_1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="caster_mount_1">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.00290933863652861 -8.67361737988404E-18"
        rpy="0 0 0" />
      <mass
        value="0.0147090264035528" />
      <inertia
        ixx="3.33808829900102E-06"
        ixy="3.04618885109595E-21"
        ixz="1.05993884558895E-20"
        iyy="1.37782026637017E-05"
        iyz="-5.27075874710973E-22"
        izz="1.16585927397857E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_mount_1_joint"
    type="fixed">
    <origin
      xyz="-0.00556320767728138 0.431913476433253 0.0234308441150687"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="caster_mount_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_fixture_1">
    <inertial>
      <origin
        xyz="-7.12301839733698E-08 0.00616635217076654 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.00415872768644128" />
      <inertia
        ixx="4.30437009807996E-07"
        ixy="-1.54297935970669E-12"
        ixz="9.49560746889793E-23"
        iyy="4.17582939592616E-07"
        iyz="6.75201979700994E-23"
        izz="4.05173035674847E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_fixture_1_joint"
    type="fixed">
    <origin
      xyz="0 -0.011 0"
      rpy="0 0 0" />
    <parent
      link="caster_mount_1" />
    <child
      link="caster_fixture_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="s_caster_1">
    <inertial>
      <origin
        xyz="0 -1.73472347597681E-18 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.00544413332382602" />
      <inertia
        ixx="3.38782826842286E-07"
        ixy="2.21364468932901E-39"
        ixz="2.35740419240729E-22"
        iyy="3.38782826842286E-07"
        iyz="-2.93862930614957E-39"
        izz="5.01644674433888E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_caster_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_caster_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="s_caster_1_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="caster_fixture_1" />
    <child
      link="s_caster_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_mount_2">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.00290933863652861 0"
        rpy="0 0 0" />
      <mass
        value="0.0147090264035528" />
      <inertia
        ixx="3.33808829900103E-06"
        ixy="2.2874786250927E-21"
        ixz="-2.49963641355868E-20"
        iyy="1.37782026637017E-05"
        iyz="2.64510165118078E-22"
        izz="1.16585927397856E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_mount_2_joint"
    type="fixed">
    <origin
      xyz="0.279436792322718 0.431913476433253 0.0234308441150687"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="caster_mount_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_fixture_2">
    <inertial>
      <origin
        xyz="-7.12301839733698E-08 0.00616635217076654 0"
        rpy="0 0 0" />
      <mass
        value="0.00415872768644127" />
      <inertia
        ixx="4.30437009807995E-07"
        ixy="-1.54297936001376E-12"
        ixz="-1.75223490568748E-22"
        iyy="4.17582939592615E-07"
        iyz="-2.49743369533195E-22"
        izz="4.05173035674846E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_fixture_2_joint"
    type="fixed">
    <origin
      xyz="0 -0.011 0"
      rpy="0 0 0" />
    <parent
      link="caster_mount_2" />
    <child
      link="caster_fixture_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="s_wheel_2">
    <inertial>
      <origin
        xyz="0 -1.73472347597681E-18 5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.00544413332382603" />
      <inertia
        ixx="3.38782826842286E-07"
        ixy="1.21113138227373E-38"
        ixz="-6.75554850526471E-22"
        iyy="3.38782826842286E-07"
        iyz="-8.25084535794453E-39"
        izz="5.01644674433889E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="s_wheel_2_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="caster_fixture_2" />
    <child
      link="s_wheel_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_mount_3">
    <inertial>
      <origin
        xyz="-1.11022302462516E-16 -0.00290933863652861 -1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.0147090264035529" />
      <inertia
        ixx="3.33808829900103E-06"
        ixy="3.00372727566297E-21"
        ixz="-4.94692780397924E-21"
        iyy="1.37782026637017E-05"
        iyz="-7.12138623990839E-23"
        izz="1.16585927397857E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_mount_3"
    type="fixed">
    <origin
      xyz="0.279436792322719 0.736913476433252 0.0234308441150687"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="caster_mount_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_fixture_3">
    <inertial>
      <origin
        xyz="7.12301839733698E-08 -0.00516635217076653 -1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.00415872768644128" />
      <inertia
        ixx="4.30437009807997E-07"
        ixy="-1.54297935973795E-12"
        ixz="8.50656148732795E-23"
        iyy="4.17582939592616E-07"
        iyz="-1.94254123458878E-22"
        izz="4.05173035674847E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_fixture_3_joint"
    type="fixed">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="caster_mount_3" />
    <child
      link="caster_fixture_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="s_wheel_3">
    <inertial>
      <origin
        xyz="-1.11022302462516E-16 3.46944695195361E-18 -2.22044604925031E-16"
        rpy="0 0 0" />
      <mass
        value="0.00544413332382601" />
      <inertia
        ixx="3.38782826842285E-07"
        ixy="2.21364468932902E-39"
        ixz="-8.27148061822121E-23"
        iyy="3.38782826842285E-07"
        iyz="2.93862930614957E-39"
        izz="5.01644674433887E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_wheel_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_wheel_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="s_wheel_3"
    type="fixed">
    <origin
      xyz="0 0.00100000000000001 0"
      rpy="0 0 0" />
    <parent
      link="caster_fixture_3" />
    <child
      link="s_wheel_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_mount_4">
    <inertial>
      <origin
        xyz="0 0.00290933863652861 -8.67361737988404E-19"
        rpy="0 0 0" />
      <mass
        value="0.0147090264035528" />
      <inertia
        ixx="3.33808829900102E-06"
        ixy="3.03678508214026E-21"
        ixz="1.74273978789006E-21"
        iyy="1.37782026637017E-05"
        iyz="2.22283605025357E-22"
        izz="1.16585927397857E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_mount_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_mount_4_joint"
    type="fixed">
    <origin
      xyz="-0.0055632076772813 0.736913476433252 0.0234308441150687"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="caster_mount_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="caster_fixture_4">
    <inertial>
      <origin
        xyz="-7.12301840843921E-08 0.00616635217076653 -8.67361737988404E-19"
        rpy="0 0 0" />
      <mass
        value="0.00415872768644128" />
      <inertia
        ixx="4.30437009807996E-07"
        ixy="-1.54297935980373E-12"
        ixz="-3.59722340639264E-23"
        iyy="4.17582939592616E-07"
        iyz="-3.37446893511555E-23"
        izz="4.05173035674847E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/caster_fixture_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_fixture_4_joint"
    type="fixed">
    <origin
      xyz="0 -0.011 0"
      rpy="0 0 0" />
    <parent
      link="caster_mount_4" />
    <child
      link="caster_fixture_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="s_wheel_4">
    <inertial>
      <origin
        xyz="0 -5.20417042793042E-18 -1.47451495458029E-17"
        rpy="0 0 0" />
      <mass
        value="0.00544413332382601" />
      <inertia
        ixx="3.38782826842284E-07"
        ixy="2.21364468932901E-39"
        ixz="1.52289210013095E-23"
        iyy="3.38782826842285E-07"
        iyz="-2.93862930614957E-39"
        izz="5.01644674433887E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_wheel_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/s_wheel_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="s_wheel_4_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="caster_fixture_4" />
    <child
      link="s_wheel_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_mount_2">
    <inertial>
      <origin
        xyz="0 0.0130580434229897 0"
        rpy="0 0 0" />
      <mass
        value="0.116973628059289" />
      <inertia
        ixx="8.00274171721299E-05"
        ixy="2.71810764533712E-20"
        ixz="-2.97009538694821E-20"
        iyy="0.000117236984799871"
        iyz="7.68830510492168E-21"
        izz="7.22553292303753E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_mount_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_mount_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_mount_2_joint"
    type="fixed">
    <origin
      xyz="0.0369367923227186 0.584413476433253 0.015594437807013"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_mount_2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shaft_2">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 -2.22044604925031E-16 0.00812286272198354"
        rpy="0 0 0" />
      <mass
        value="0.0215627079100336" />
      <inertia
        ixx="2.86205172556415E-05"
        ixy="0"
        ixz="-1.67452959487115E-22"
        iyy="2.85964483774262E-05"
        iyz="-3.49467886174526E-21"
        izz="7.1007841716063E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/shaft_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/shaft_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shaft_2_joint"
    type="fixed">
    <origin
      xyz="0 0.034 0"
      rpy="3.14159265358979 0 1.92689132353229" />
    <parent
      link="wheel_mount_2" />
    <child
      link="shaft_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wheel_2">
    <inertial>
      <origin
        xyz="0 6.93889390390723E-18 -0.015"
        rpy="0 0 0" />
      <mass
        value="0.230318011416302" />
      <inertia
        ixx="0.000164461455026953"
        ixy="-1.13888008495933E-39"
        ixz="-1.51053771653851E-20"
        iyy="0.000164461455026953"
        iyz="3.10894231612504E-36"
        izz="0.000294375208341461" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_2_joint"
    type="continuous">
    <origin
      xyz="0 0 0.045"
      rpy="3.14159265358979 0 1.92689132353229" />
    <parent
      link="shaft_2" />
    <child
      link="wheel_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="lidar_mount">
    <inertial>
      <origin
        xyz="7.41984232188464E-05 0.0791888905804564 0.140074197922588"
        rpy="0 0 0" />
      <mass
        value="0.0679495676763308" />
      <inertia
        ixx="0.00012150234170699"
        ixy="-9.97496250477046E-08"
        ixz="-1.43847675741952E-07"
        iyy="0.000100174237721814"
        iyz="-9.9749287265195E-08"
        izz="0.000121502343492964" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/lidar_mount.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/lidar_mount.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_mount_joint"
    type="fixed">
    <origin
      xyz="0.13694 0.58441 0.015931"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_mount" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar">
    <inertial>
      <origin
        xyz="-1.11022302462516E-16 0.0157959158923206 0.14"
        rpy="0 0 0" />
      <mass
        value="0.0887753797922069" />
      <inertia
        ixx="2.71258824735809E-05"
        ixy="-8.26964416216142E-38"
        ixz="-4.52420345301141E-39"
        iyy="3.92865646363297E-05"
        iyz="1.58873234403123E-21"
        izz="2.71258824735809E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buggy_descripation/meshes/lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0 0.105 0"
      rpy="0 0 0" />
    <parent
      link="lidar_mount" />
    <child
      link="lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>