<?xml version="1.0" encoding="utf-8"?>
<robot name="buggy_descripation" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find buggy_descripation)/urdf/buggy_descripation.urdf"/>
<xacro:include filename="$(find buggy_descripation)/gazebo/buggy_materials.gazebo"/>
<xacro:include filename="$(find buggy_descripation)/gazebo/buggy_physics.gazebo"/>
<xacro:include filename="$(find buggy_descripation)/gazebo/buggy_plugins.gazebo"/>



</robot>